html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    width: 100vw;
}

.containerLayout {
    height: 85vh; /* 85% de la altura del viewport */
    width: 100vw; /* 100% del ancho del viewport */
    flex-grow: 1; /* Se expande para ocupar el espacio restante */
}

footer {
    height: 5vh; /* 5% de la altura del viewport */
    width: 100vw; /* 100% del ancho del viewport */
    flex-shrink: 0;
}